<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://wwww.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<meta charset="UTF-8">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<!-- Adicionando JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />


<!-- Adicionando Javascript -->
    <script>

        $(document).ready(function() {
        		
				$('#dataNascimento').datepicker({
					showOthermonths:true,
					format: 'yyyy-MM-dd',
				})
				
            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#numero").val("");
            }
            
            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>
            


<style type="text/css">

	table.striped>tbody>tr:nth-child(odd){
		background-color: rgba(158, 154, 154, 0.2);
	}
	
	form input[type=submit]{
		color: white;
	}
	
</style>

<title>Cadastro de Pessoas</title>
</head>
<body>

	<h3>Spring Boot + Thymeleaf + Material Design Lite</h3>
	<br />
	<h5>Cadastro de Pessoas</h5>

	<div class="row">
	
	<br />
	<div th:each = "m : ${msg}">
		<span th:text = "${m}"></span>
	</div>	
	<br />
	
		<form action="salvarpessoa" method="post" th:object="${pessoaobj}" class="col s12" id="formpessoa" enctype="multipart/form-data">
		
			<div class="row">
				<div class="input-field col s6">
					<label for="id" class="active">ID</label>
					<input name="id" th:field="*{id}" readonly="readonly">
				</div>
			
				<div class="input-field col s6">
					<label for="nome" class="active">Nome</label> 
					<input name="nome" th:field="*{nome}" id="nome" placeholder="Informe o nome">
				</div>
				
			</div>
			
			<div class="row">
			
				<div class="input-field col s6">
					<label for="sobrenome" class="active">Sobrenome</label>
					<input name="sobrenome" th:field="*{sobrenome}" id="sobrenome" placeholder="Informe o sobrenome">
				</div>
				
				<!-- <div class="input-field col s6" sec:authorize="hasRole('ROLE_USER')"> 
					mostra ou oculta alguma parte da tela conforme as roles definidas
				-->
				<div class="input-field col s6">
					<label for="idade" class="active">Idade</label>
					<input name="idade" th:field="*{idade}" id="idade" placeholder="Informe a idade">
				</div>
				
				<!-- Combo Box fixo no html -->		
				<div class="row">
				
					<div class="input-field col s3">
						<label for="sexopessoa" class="active">Sexo</label>
						<select class="browser-default" th:field="*{sexopessoa}">
							<option value="NAO DEFINIDO" selected>--[Selecione]--</option>
							<option value="MASCULINO" th:text="Masculino" />
							<option value="FEMININO" th:text="Feminino" />
						</select>
					</div>
					
					<!-- Combo puxando do BD -->
					<div class="input-field col s3">
						<label for="profissao" class="active">Profissão</label>
						<select class="browser-default" th:field="*{profissao}" id="profissao">
							<option th:each="p : ${profissoes}" th:value="${p.id}" th:text=${p.nome}>
						</select>
					</div>
					
					<!-- COMBO POR ENUMS -->
					<div class="input-field col s3">
						<label for="cargo" class="active">Cargo</label>
						<select class="browser-default" th:field="*{cargo}" id="cargo">
							<option th:each="c : ${T(curso.springboot.model.Cargo).values()}" th:value="${c}" th:text=${c}>
						</select>
					</div>
					
					<div class="input-field col s3">
						<label for="DataNascimento" class="active">Data de Nascimento:</label>
						<input type="date" id="dataNascimento" th:field="*{dataNascimento}" name="dataNascimento" placeholder="dd-mm-yyyy" onclick="event.preventDefault()" >
					</div>	
					
				</div>				
								
				<div class="input-field col s6">
					<label for="cep" class="active">CEP</label>
					<input name="cep" th:field="*{cep}" id="cep" placeholder="Informe o CEP">
				</div>

				<div class="input-field col s6">
					<label for="rua" class="active">Rua</label>
					<input name="rua" th:field="*{rua}" id="rua" readonly="readonly">
				</div>
				
				<div class="input-field col s6">
					<label for="bairro" class="active">Bairro</label>
					<input name="bairro" th:field="*{bairro}" id="bairro" readonly="readonly">
				</div>

				<div class="input-field col s6">
					<label for="cidade" class="active">Cidade</label>
					<input name="ciade" th:field="*{cidade}" id="cidade" readonly="readonly">
				</div>
				
				<div class="input-field col s6">
					<label for="uf" class="active">UF</label>
					<input name="uf" th:field="*{uf}" id="uf" readonly="readonly">
				</div>
				
				<div class="input-field col s6">
					<label for="numero" class="active">Número</label>
					<input name="numero" th:field="*{numero}" id="numero" placeholder="Informe o número">
				</div>									
				
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<label for="file" class="active">Currículo:</label>
					<input type="file" id="file" name="file" class="file-field input-field">
				</div>
			</div>
			
			
			
			<div class="row">
			
				<div class="input-field col s6">
					<button class="btn waves-effect waves-light" type="submit" name="action">Enviar
						<i class="material-icons right">send</i>
					</button>
					<button class="btn waves-effect waves-light" onclick="document.getElementById('formpessoa').reset();" type="button">Novo</button>
				</div>
				
			</div>
			
		</form>
	</div>
	<br />

	<!-- a href="/listapessoas">Lista de Pessoas cadastradas</a -->

	<fieldset>
		<legend>Campo de Pesquisa</legend>
		
		<div class="row">
			<form action="pesquisarpessoa" method="post" id="pesquisarpessoa" class="col s12">
				<div class="row">
				
					<div class="input-field col s6">
						<label for="nomepesquisa" class="active">Pesquisa por nome:</label>
						<input name="nomepesquisa" id="nomepesquisa" class="validate">
					</div>
					
					<div class="input-field col s6">
						<label for="pesquisasexo" class="active">Pesquisa por sexo:</label>
						<select class="browser-default" name="pesquisasexo" id="pesquisasexo">
							<option value="" selected>Todos</option>
							<option value="MASCULINO" th:text="Masculino" />
							<option value="FEMININO" th:text="Feminino" />
					</select>
					</div>
				
				</div>
				
				<div class="row">
					<div class="col s6">
						<input class="waves-effect waves-light btn" type="submit" value="Buscar" onclick="document.getElementById('pesquisarpessoa').method = 'post'">
					</div>
					
					<div class="col s6">
						<input class="waves-effect waves-light btn" type="submit" value="PDF" onclick="document.getElementById('pesquisarpessoa').method = 'get'">
					</div>
				</div>
			</form>
		</div>	
	</fieldset>
	
	<table class="striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Curriculo</th>
				<th>Editar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		
		<tr th:each="pessoa : ${pessoas}">
		
			<td th:text="${pessoa.id}"></td>
			
			<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text="${pessoa.nome}"></span></a></td>
			
			<td th:text="${pessoa.sobrenome}"></td>
			
			<td>
			<a th:if="${pessoa.curriculo != null}" th:href="@{/baixarcurriculo/{idpessoa}(idpessoa=${pessoa.id})}">Download</a>
			<label th:if="${pessoa.curriculo == null}" style="color: red;">Sem arquivos</label>
			</td>
			
			<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
			<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
		</tr>
		
	</table>
</body>
</html>