<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Pessoas</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

</head>
<body>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>


	<h1>Cadastro Pessoa</h1>
	<form action="salvarpessoa" method="post">
		<label>Nome</label>
		<input name="nome"> 
		<label>Sobrenome</label>
		<input name="sobrenome"> 
		<label>Idade</label>
		<input name="idade"> 
		<input class="waves-effect waves-light btn" type="submit" value="salvar">
	</form>

	<a href="/listapessoas">Lista de Pessoas cadastradas</a>

	<table>
		<tr th:each="pessoa : ${pessoas}">
			<td th:text="${pessoa.id}"></td>
			<td th:text="${pessoa.nome}"></td>
			<td th:text="${pessoa.sobrenome}"></td>
		</tr>
	</table>
</body>
</html>